.call-menu {
  display: none;
  width: 320px;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  overflow-y: auto;
  right: 0;
  top: 0;
  z-index: 7;
  transition: 0.5s;
  animation-name: call-menu_animation;
  animation-duration: 1s;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
}

@keyframes call-menu_animation {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.call-menu__open {
  display: block;
}

.call-menu__cross {
  margin: 24px auto 40px 16px;
  background-image: url('../img/cross.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.call-menu-title {
  font-family: 'TT Lakes-Bold', sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1b1c21;
  margin-left: 16px;
  margin-bottom: 24px;
}

.call-menu__highlight {
  position: absolute;
  top: 100px;
}

.call-menu-content {
  font-family: 'TT Lakes-Medium', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82;
  margin: 0 16px 18px 16px;
}

.call-menu__send-order {
  position: relative;
  margin-right: 16px;
  margin-left: auto;
  display: flex;
  align-items: center;
  width: 119px;
  height: 32px;
  border-radius: 16px;
  background-color: #ff3e79;
  justify-content: space-between;
}

.call-menu__send-text {
  font-family: 'TT Lakes-Bold', sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 15px;
}

.call-menu__send-icon {
  background-image: url('../img/order.svg');
  background-repeat: no-repeat;
  height: 10px;
  width: 7px;
  margin-right: 15px;
}

@media (min-width: 1440px) {
  .call-menu {
    width: 440px;
  }

  .call-menu__cross {
    position: absolute;
    left: -100px;
    top: 20px;
  }

  .call-menu__highlight {
    top: 45px;
  }

  .call-menu-title {
    margin-left: 32px;
    margin-top: 50px;
    margin-left: 32px;
  }

  .area-input__size {
    width: 376px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .call-menu-content {
    margin: 0 32px 16px 32px;
  }

  .call-menu__send-order {
    margin-right: 32px;
  }
}
