.feedback-menu {
  visibility: hidden;
  width: 320px;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}

.feedback-menu__open {
  visibility: visible;
}

.feedback-menu__cross {
  margin: 24px auto 40px 16px;
}

.feedback-menu-title {
  font-family: 'TT Lakes-Bold', sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1b1c21;
  margin-left: 16px;
  margin-bottom: 24px;
}

.feedback-menu__highlight {
  position: absolute;
  top: 100px;
}

.feedback-menu__field {
  width: 288px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  margin: 0 16px 16px 16px;
  padding: 12px 16px;
}

.field__text {
  font-family: 'TT Lakes-Medium', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #b5b6bc;
}

.field__text-message {
  height: 118px;
}

.feedback-menu-content {
  font-family: 'TT Lakes-Medium', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82;
  margin: 0 16px 19px 16px;
}

aside > span {
  color: #ff3e79;
}

.feedback-menu__send {
  position: relative;
  height: 32px;
}
.feedback-menu__buttom {
  position: absolute;
  right: 16px;
}

@media (min-width: 1440px) {
  .feedback-menu {
    width: 440px;
  }

  .feedback-menu-title {
    margin-left: 32px;
  }

  .feedback-menu__field {
    width: 376px;
    margin: 0 32px 16px 32px;
  }

  .feedback-menu-content {
    margin: 0 32px 23px 32px;
  }
}
