.side-menu__left {
  display: none;
  width: 320px;
  height: 100%;
  background-color: #ffffff;
  z-index: 3;
  position: fixed;
  overflow-y: auto;
  left: 0;
  top: 0;
  animation-name: sid;
  animation-duration: 1s;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
}

@keyframes sid {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.side-menu__left-open {
  display: block;
}

.side-menu__left-header {
  display: flex;
  align-items: center;
  margin-top: 19px;
  margin-bottom: 26px;
}

.side-menu__left-cross {
  margin-left: 24px;
  margin-right: 17px;
  background-image: url('../img/cross.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.side-menu__left-search {
  margin-right: 24px;
  margin-left: auto;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.list__element:first-child {
  color: #7e7e82;
}

.list__element {
  margin-left: 24px;
  list-style-type: none;
  font-family: 'TT Lakes-Medium', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 24px;
  color: #1b1c21;
}

.side-menu__left-highlight {
  position: absolute;
  top: 85px;
  bottom: auto;
}

.side-footer__left {
  bottom: 32px;
}

.side-footer__left-buttoms {
  display: flex;
  margin-bottom: 16px;
}
.side-footer__left-phone {
  margin-left: 24px;
  background-image: url('../img/phone.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.side-footer__left-chat {
  margin-left: 24px;
  background-image: url('../img/chat.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.side-footer__left-contacts {
  margin-left: 24px;
  background-image: url('../img/contacts.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.side-footer__left-mail {
  display: block;
  font-family: 'TT Lakes-Regular', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
  letter-spacing: -0.2px;
  margin-left: 24px;
  margin-bottom: 12px;
  text-decoration: none;
}

.side-footer__left-number {
  display: block;
  font-family: 'TT Lakes-Bold', sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1b1c21;
  margin-left: 24px;
  margin-bottom: 40px;
  text-decoration: none;
}

.side-footer__left-language {
  display: flex;
  font-size: 16px;
  font-family: 'TT Lakes-Regular', sans-serif;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  margin-left: 24px;
}

.side-footer__left-language-ru {
  color: #7e7e82;
  margin-right: 7px;
}

.side-footer__left-language-en {
  margin-right: 7px;
}

@media (min-width: 768px) {
  .list__element {
    margin-bottom: 32px;
  }

  .list__element:last-child {
    margin-bottom: 268px;
  }

  .side-menu__left-highlight {
    top: 90px;
  }
}

@media (min-width: 1120px) {
  .side-menu__left-highlight {
    top: 107px;
  }
}

@media (min-width: 1120px) {
  .side-menu__left {
    visibility: visible;
    display: block;
    position: static;
    height: 100%;
    box-shadow: none;
  }

  .list__element:last-child {
    margin-bottom: 241px;
  }

  .side-menu__left-header {
    margin-top: 30px;
    margin-bottom: 37px;
  }

  .side-menu__left-cross {
    display: none;
  }

  .side-menu__left-group {
    margin-left: 22px;
  }

  .side-menu__left-search {
    margin-right: 29px;
  }
}
