@font-face {
  font-family: 'TT Lakes-Bold';
  src: url('../fonts/TTLakes-Bold.woff');
}

@font-face {
  font-family: 'TT Lakes-Medium';
  src: url('../fonts/TTLakes-Medium.woff');
}

@font-face {
  font-family: 'TT Lakes-Regular';
  src: url('../fonts/TTLakes-Regular.woff');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  // overflow-x: hidden;
  background-color: #f8f8f8;
}

span {
  color: #ff3e79;
}
