.main__divider-brand {
  height: 1px;
  width: 100%;
  background: #d9fff5;
  margin-top: 216px;
}

.main__brand-text,
.main__technique-text,
.main__price-text {
  width: 100%;
  padding: 16px;
  background: linear-gradient(to right, #f8f8f8 0%, #ffffff 98.61%);
  font-family: 'TT Lakes-Regular', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
}

.main__brand-card {
  display: flex;
  width: 100%;
  padding: 0 16px 0 16px;
}

.brand__card {
  display: flex;
  align-items: center;
  margin: 16px 16px 16px 0;
  width: 240px;
  height: 72px;
  padding: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  justify-content: space-between;
  flex-shrink: 0;
}

.button-go {
  width: 40px;
  height: 40px;
  border: 3px solid #ff3e79;
  border-radius: 50%;
}

.button-go__arrow {
  width: 10px;
  height: 10px;
  border-top: 3px solid #ff3e79;
  border-right: 3px solid #ff3e79;
  rotate: 45deg;
  margin: 13px auto;
}

.brand-card__block {
  display: flex;
  align-items: center;
}

.brand__card-gradient {
  width: 24px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
  z-index: 1;
}

.brand-card__image {
  margin-right: 8px;
}

.brand-card__text {
  width: 100px;
  height: 24px;
  font-family: 'TT Lakes-Medium', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  white-space: nowrap;
}

.brand__content-button,
.technique__content-button {
  display: none;
}

.main__divider-technique {
  height: 1px;
  width: 100%;
  background: #d9fff5;
}

.main__technique-card {
  display: flex;
  width: 100%;
  padding-left: 16px;
}

.tech-swiper {
  overflow: hidden;
}

.technique__card {
  width: 240px;
  height: 160px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  margin: 16px 16px 16px 0;
  padding: 16px;
}

.technique__card-name {
  font-family: 'TT Lakes-Medium', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}

.technique__card-go {
  margin: 64px 16px 16px 168px;
}

.technique__card-gradient {
  width: 24px;
  height: 190px;
  position: absolute;
  top: 767px;
  right: 0;
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
  z-index: 1;
}

.technique-card__image {
  margin-right: 8px;
}

.technique-card__text {
  width: 100px;
  height: 24px;
  font-family: 'TT Lakes-Medium', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  white-space: nowrap;
}

.main__divider-price {
  height: 1px;
  width: 100%;
  background: #d9fff5;
}

.price-swiper {
  overflow: hidden;
}

.main__price-swiper {
  display: flex;
  padding-left: 8px;
}

.main__price-card {
  width: 260px;
  height: 200px;
  background: #ffffff;
  border-radius: 6px;
  margin: 16px 16px 16px 0;
  padding: 16px;
  position: relative;
  flex-shrink: 0;
}

.price__card-order {
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: flex;
  align-items: center;
  width: 119px;
  height: 32px;
  border-radius: 16px;
  background-color: #ff3e79;
  justify-content: space-between;
}

.price__card-order-text {
  font-family: 'TT Lakes-Bold', sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 15px;
}

.price__card-order-icon {
  background-image: url('../img/order.svg');
  background-repeat: no-repeat;
  height: 10px;
  width: 7px;
  margin-right: 15px;
}

.main__price-gradient {
  width: 24px;
  height: 230px;
  position: absolute;
  top: 1070px;
  right: 0;
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
  z-index: 1;
}

.price__card-title,
.price__title-content {
  font-family: 'TT Lakes-Medium', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #7e7e82;
  mix-blend-mode: normal;
  opacity: 0.72;
  margin-bottom: 4px;
}

.price__card-text,
.price__list-text {
  font-family: 'TT Lakes-Regular', sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  margin-bottom: 16px;
}

.main__price {
  display: none;
}

@media (min-width: 768px) {
  .main__divider-brand {
    margin-top: 46px;
  }

  .main__brand-text,
  .main__technique-text,
  .main__price-text {
    padding-left: 24px;
  }

  .main__brand-card {
    padding: 24px 0 0 24px;
    flex-wrap: wrap;
  }

  .brand__card {
    width: 224px;
    margin: 0 24px 16px 0;
  }

  .brand-card__block {
    display: none;
  }

  .brand__card-more {
    display: flex;
  }

  .brand__card-gradient {
    display: none;
  }

  .brand__content-button {
    display: flex;
    height: 24px;
    margin: 8px 0 32px 24px;
  }

  .main__technique-card {
    flex-wrap: wrap;
    padding: 24px 0 0 24px;
  }

  .technique__card {
    width: 224px;
    margin: 0 24px 24px 0;
  }

  .technique-card__block {
    display: none;
  }

  .technique-card__more {
    display: block;
  }

  .technique__content-button {
    display: flex;
    height: 24px;
    margin-left: 24px;
    margin-bottom: 32px;
  }

  .technique__card-go {
    margin-left: 152px;
  }

  .technique__card-gradient {
    display: none;
  }

  .main__price-swiper {
    display: none;
  }

  .main__price {
    display: block;
  }

  .price__title {
    display: flex;
    align-items: center;
    margin-top: 31px;
  }

  .price__title-content:first-child {
    margin-left: 40px;
    margin-right: 246px;
  }

  .price__title-content:nth-child(2) {
    margin-right: 61px;
  }

  .price__list {
    margin: 16px 24px 24px 24px;
    background: #ffffff;
    border-radius: 6px;
    height: 324px;
    padding: 0 16px 0 16px;
  }

  .price__list-content {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    height: 64px;
  }

  .price__list-text {
    position: absolute;
    margin: 0;
  }

  .price__list-text:nth-child(2) {
    left: 372px;
  }

  .price__list-text:nth-child(3) {
    left: 468px;
  }

  .price__list-order {
    position: absolute;
    right: 0;
  }

  .price__list-content:last-child {
    border: none;
  }
}

@media (min-width: 1120px) {
  .main__brand-text,
  .main__technique-text,
  .main__price-text {
    padding: 32px;
  }

  .main__brand-card {
    padding-left: 32px;
    flex-wrap: wrap;
  }

  .brand__card {
    width: 240px;
    margin-right: 32px;
  }

  .brand-card__block {
    display: flex;
  }

  .brand__content-button,
  .technique__content-button {
    margin-left: 32px;
    margin-bottom: 50px;
  }

  .main__technique-card {
    padding: 24px 0 0 32px;
  }

  .technique__card {
    width: 240px;
    margin: 0 32px 24px 0;
  }

  .technique-card__block {
    display: block;
  }

  .technique__card-go {
    margin-left: 168px;
  }

  .price__title-content:first-child {
    margin-left: 56px;
    margin-right: 344px;
  }

  .price__title-content:nth-child(2) {
    margin-right: 192px;
  }

  .price__list {
    margin: 16px 32px 32px 32px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .price__list-text:nth-child(2) {
    left: 470px;
  }

  .price__list-text:nth-child(3) {
    left: 697px;
  }

  .main__comment {
    margin-left: 32px;
  }

  .main__offer {
    margin-left: 32px;
    margin-bottom: 50px;
  }

  .footer {
    padding: 0 32px 21px 32px;
  }
}
